.box-voucher-small {
  color: rgb(238, 77, 45);
  width: 460px;
  height: 118px;
  border: 1px solid #c4c4c4;
  border-left: 0;
  border-radius: 2px;
  background-clip: padding-box;
  background: repeating-linear-gradient(#c4c4c4, #c4c4c4 10px, transparent 0, transparent 30px, #c4c4c4 0, #c4c4c4 42px) 0/1px 100% no-repeat, radial-gradient(circle at 0 20px, transparent, transparent 10px, #c4c4c4 0, #c4c4c4 11px, currentColor 0) 1px 0/100% 42px repeat-y;
  display: flex;
  position: relative;
}
.box-voucher-small .content-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  justify-content: center;
  margin: -12px 19px 0 20px;
}
.box-voucher-small .content-left img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
.box-voucher-small .content-left span {
  color: #fff;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}
.box-voucher-small .border-center {
  min-width: 1px;
  background: repeating-linear-gradient(#e5e5e5, #e5e5e5 5px, transparent 0, transparent 10px);
}
.box-voucher-small .content-right {
  background-color: #fff;
  width: 370px;
}
.box-voucher-small .content-right .box-content-right {
  display: flex;
  flex-direction: column;
  margin: 12px 20px;
}
.box-voucher-small .content-right .box-content-right .name-voucher {
  color: #212121;
  font-size: 18px;
}
.box-voucher-small .content-right .box-content-right .use-voucher {
  position: absolute;
  top: 3px;
  right: 18px;
  color: rgb(238, 77, 45);
  font-size: 14px;
  font-weight: 600;
}
.box-voucher-small .content-right .box-content-right .use-voucher::after {
  border: solid #ee4d2d;
  border-width: 0 1px 1px 0;
  padding: 0.2125rem;
  transform-origin: 0 50%;
  position: absolute;
  content: "";
  transform: rotate(-45deg);
  display: block;
  right: -0.625rem;
  bottom: 0.0625rem;
  margin-left: 0.3125rem;
}
.box-voucher-small .content-right .box-content-right .max-value-voucher {
  color: #595959;
  font-size: 14px;
}
.box-voucher-small .content-right .box-content-right .box-percent {
  display: flex;
  flex-direction: column;
}
.box-voucher-small .content-right .box-content-right .box-percent .wrap-percent {
  height: 8px;
  border-radius: 2.5rem;
  width: 130px;
  background: rgba(0, 0, 0, 0.09);
  overflow: hidden;
  margin-top: 4px;
}
.box-voucher-small .content-right .box-content-right .box-percent .wrap-percent .percent {
  height: 100%;
  background: linear-gradient(270deg, rgb(238, 77, 45) 0%, rgb(238, 77, 45) 100%);
}
.box-voucher-small .content-right .box-content-right .box-percent .used-percent {
  color: rgb(255, 66, 79);
  font-size: 14px;
}
.box-voucher-small .content-right .box-content-right .btn-voucher {
  border: 0;
  outline: none;
  height: 4.8125rem;
  border-radius: 0.375rem;
  background-color: rgb(238, 77, 45);
  font-size: 2rem;
  color: #fff;
  margin-top: 30px;
}
.box-voucher-small .content-right .box-content-right .btn-voucher:hover {
  background-color: #da492c;
}/*# sourceMappingURL=VoucherItemSmall.css.map */